<footer class="main-footer" th:fragment="footer">

    <div class="footer-contact">
        <h4>Contáctanos</h4>
        <p>123-456-789</p>
        <p>RUC: 12345678910</p>
    </div>

    <div class="footer-brand">
        <h2 class="logo">EcoTravel</h2>
        <p class="mission-text">Viaja de forma responsable. El planeta es nuestro destino.</p>
        <div class="copy">
            &copy; 2025 EcoTravel. Todos los derechos reservados.
        </div>
    </div>

    <div class="footer-social">
        <h4>Soporte <i class="fa-solid fa-gear"></i></h4>
        <p>Nuestras redes:
            <a href="x.com"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </p>
    </div>

</footer>
